@import url("https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=cyrillic");

html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poiret One";
}
header {
  display: flex;
  background: url(../img/per.jpg) no-repeat center top / cover;
  height: 100vh;
  width: 100%;
  flex-direction: column;

  .container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;

    .main-logo {
      margin-top: 50px;
      width: 180px;
      height: 150px;
    }
    .main-menu {
      display: flex;
      margin-right: 20px;
      li {
        list-style-type: none;
        margin: 70px 20px 0 0;
        a {
          color: white;
          text-decoration: none;
          font-size: 30px;
          &:hover {
            color: rgb(138, 137, 137);
          }
        }
      }
    }
  }
  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    hr {
      border: none;
      color: red;
      background-color: red;
      height: 1px;
      width: 200px;
      text-align: center;
      padding: 0px;
      margin: 0;
    }
    h1 {
      color: red;
      font-size: 60px;
      padding: 0 0 10px 0;
      margin: 0;
      font-family: "Roboto Slab", serif;
      text-transform: uppercase;
    }
    .first_title {
      text-align: center;
      color: white;
      font-size: 35px;
    }
  }
}
//slider
.slider-our-dessert {
  .name-section {
    font-size: 60px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
  .all {
    margin: 0;
    input {
      display: none;
    }
    .desktop:checked ~ {
      .slider {
        max-width: 100%;
      }
    }
    .slider {
      position: relative;
      text-align: center;
      top: 10px;
      margin: 0 auto;
      margin-top: 0px;
      .switch1:checked ~ .controls label:nth-child(4),
      .switch2:checked ~ .controls label:nth-child(1),
      .switch3:checked ~ .controls label:nth-child(2),
      .switch4:checked ~ .controls label:nth-child(3) {
        background: url("../img/prev.png");
        background-size: contain;
        float: left;
        display: block;
        height: 55px;
        width: 55px;
        cursor: pointer;
      }
      .switch1:checked ~ .controls label:nth-child(2),
      .switch2:checked ~ .controls label:nth-child(3),
      .switch3:checked ~ .controls label:nth-child(4),
      .switch4:checked ~ .controls label:nth-child(1) {
        background: url("../img/next.png");
        background-size: contain;
        float: right;
        display: block;
        height: 55px;
        width: 55px;
        cursor: pointer;
      }
      .switch1:checked ~ .slides .image {
        margin-left: 0;
      }
      .switch2:checked ~ .slides .image {
        margin-left: -100%;
      }
      .switch3:checked ~ .slides .image {
        margin-left: -200%;
      }
      .switch4:checked ~ .slides .image {
        margin-left: -300%;
      }
      .slides {
        .overflow {
          width: 100%;
          overflow: hidden;
          .image {
            width: 500%;
            line-height: 0px;
            transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);

            article {
              width: 20%;
              float: left;
              img {
                width: 100%;
              }
            }
          }
        }
      }
      /*полодение блока всех управляюзих элементов*/
      .controls {
        margin: -25% 0 0 0;
        width: 100%;
        /*прозрачность стрелок при отводке курсора*/
        label {
          transition: 0.2s ease-out;
          &:hover {
            opacity: 0.6;
          }
        }
      }
      .active {
        /*расположение блока с переключателями*/
        margin: 20% 0 0 0;
        // text-align: center;
        margin-bottom: 50px;
        label {
          /*стиль отдельного переключателя*/
          border-radius: 10px; /*скругление*/
          display: inline-block; /*расположение в строку*/
          background: #bbb;
          width: 11px;
          height: 11px;
          cursor: pointer;
          &:hover {
            background: rgb(121, 120, 120);
          }
        }
      }
      .switch1:checked ~ .active label:nth-child(1),
      .switch2:checked ~ .active label:nth-child(2),
      .switch3:checked ~ .active label:nth-child(3),
      .switch4:checked ~ .active label:nth-child(4) {
        background: rgb(121, 120, 120);
        width: 17px;
        height: 17px;
      }
    }
  }
}
//our do and make
.creation {
  display: flex;
  flex-direction: column;
  .name-section {
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
  }
  .gastro {
    display: flex;
    background: black;
    .photo-set {
      width: 700px;
      height: 500px;
    }
    .about-gastroset {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      .name-gastrofest {
        font-size: 30px;
        color: rgb(255, 255, 255);
      }
      .about-set {
        margin: 20px;
        font-size: 26px;
        color: rgb(255, 255, 255);
      }
    }
  }
}
.out-reviews {
  display: flex;
  flex-direction: column;

  .name-section {
    font-size: 60px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 1px solid black;
  }
  .wrapper-reviews {
    display: flex;
    background: rgb(255, 255, 255);
    .form-reciews {
      display: flex;
      width: 500px;
      flex-direction: column;
      border-right: 1px solid rgb(0, 0, 0);
      padding: 10px 30px;
      margin: 20px 0;

      .wrapper-name-and-input {
        display: flex;
        flex-direction: column;
        .user-name {
          font-size: 24px;
          margin: 0;
          color: rgb(0, 0, 0);
        }
        .input-name {
          font-size: 16px;
          padding-left: 5px;
          margin-bottom: 10px;
          font-family: "Poiret One";
          border-radius: 8px 0 0 0;
          border: 1px solid rgb(0, 0, 0);
          outline: 0;
          width: 300px;
        }
      }
      .wrapper-reviews {
        display: flex;
        flex-direction: column;
        .user-name {
          font-size: 24px;
          margin: 0;
          color: rgb(0, 0, 0);
        }
        .user-review {
          font-size: 20px;
          font-family: "Poiret One";
          resize: none;
          height: 70px;
          border: 1px solid rgb(0, 0, 0);
          border-radius: 8px 0 0 0;
          padding: 4px;
          margin-bottom: 10px;
          outline: 0;
          width: 350px;
        }
      }
    }
  }
}
//contacts
.contacts {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  .name-section {
    font-size: 60px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    border-top: 1px solid black;
  }
  .wrapper-contacts-informations {
    display: flex;
    background: black;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .gastro {
    align-items: center;
    flex-direction: column;
    width: 100%;
    .name-gastrofest {
      text-align: center;
    }
  }
}
