@import url("https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=cyrillic");
html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poiret One";
}
header {
  display: flex;
  background: url(../img/per.jpg) no-repeat center top / cover;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
header .container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
header .container .main-logo {
  margin-top: 50px;
  width: 180px;
  height: 150px;
}
header .container .main-menu {
  display: flex;
  margin-right: 20px;
}
header .container .main-menu li {
  list-style-type: none;
  margin: 70px 20px 0 0;
}
header .container .main-menu li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
header .container .main-menu li a:hover {
  color: #8a8989;
}
header .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
header .titles hr {
  border: none;
  color: red;
  background-color: red;
  height: 1px;
  width: 200px;
  text-align: center;
  padding: 0px;
  margin: 0;
}
header .titles h1 {
  color: red;
  font-size: 60px;
  padding: 0 0 10px 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}
header .titles .first_title {
  text-align: center;
  color: white;
  font-size: 35px;
}
.slider-our-dessert .name-section {
  font-size: 60px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.slider-our-dessert .all {
  margin: 0;
}
.slider-our-dessert .all input {
  display: none;
}
.slider-our-dessert .all .desktop:checked .slider {
  max-width: 100%;
}
.slider-our-dessert .all .slider {
  position: relative;
  text-align: center;
  top: 10px;
  margin: 0 auto;
  margin-top: 0px;
  /*полодение блока всех управляюзих элементов*/
}
.slider-our-dessert .all .slider .switch1:checked ~ .controls label:nth-child(4),
.slider-our-dessert .all .slider .switch2:checked ~ .controls label:nth-child(1),
.slider-our-dessert .all .slider .switch3:checked ~ .controls label:nth-child(2),
.slider-our-dessert .all .slider .switch4:checked ~ .controls label:nth-child(3) {
  background: url("../img/prev.png");
  background-size: contain;
  float: left;
  display: block;
  height: 55px;
  width: 55px;
  cursor: pointer;
}
.slider-our-dessert .all .slider .switch1:checked ~ .controls label:nth-child(2),
.slider-our-dessert .all .slider .switch2:checked ~ .controls label:nth-child(3),
.slider-our-dessert .all .slider .switch3:checked ~ .controls label:nth-child(4),
.slider-our-dessert .all .slider .switch4:checked ~ .controls label:nth-child(1) {
  background: url("../img/next.png");
  background-size: contain;
  float: right;
  display: block;
  height: 55px;
  width: 55px;
  cursor: pointer;
}
.slider-our-dessert .all .slider .switch1:checked ~ .slides .image {
  margin-left: 0;
}
.slider-our-dessert .all .slider .switch2:checked ~ .slides .image {
  margin-left: -100%;
}
.slider-our-dessert .all .slider .switch3:checked ~ .slides .image {
  margin-left: -200%;
}
.slider-our-dessert .all .slider .switch4:checked ~ .slides .image {
  margin-left: -300%;
}
.slider-our-dessert .all .slider .slides .overflow {
  width: 100%;
  overflow: hidden;
}
.slider-our-dessert .all .slider .slides .overflow .image {
  width: 500%;
  line-height: 0px;
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}
.slider-our-dessert .all .slider .slides .overflow .image article {
  width: 20%;
  float: left;
}
.slider-our-dessert .all .slider .slides .overflow .image article img {
  width: 100%;
}
.slider-our-dessert .all .slider .controls {
  margin: -25% 0 0 0;
  width: 100%;
  /*прозрачность стрелок при отводке курсора*/
}
.slider-our-dessert .all .slider .controls label {
  transition: 0.2s ease-out;
}
.slider-our-dessert .all .slider .controls label:hover {
  opacity: 0.6;
}
.slider-our-dessert .all .slider .active {
  /*расположение блока с переключателями*/
  margin: 20% 0 0 0;
  margin-bottom: 50px;
}
.slider-our-dessert .all .slider .active label {
  /*стиль отдельного переключателя*/
  border-radius: 10px;
  /*скругление*/
  display: inline-block;
  /*расположение в строку*/
  background: #bbb;
  width: 11px;
  height: 11px;
  cursor: pointer;
}
.slider-our-dessert .all .slider .active label:hover {
  background: #797878;
}
.slider-our-dessert .all .slider .switch1:checked ~ .active label:nth-child(1),
.slider-our-dessert .all .slider .switch2:checked ~ .active label:nth-child(2),
.slider-our-dessert .all .slider .switch3:checked ~ .active label:nth-child(3),
.slider-our-dessert .all .slider .switch4:checked ~ .active label:nth-child(4) {
  background: #797878;
  width: 17px;
  height: 17px;
}
.creation {
  display: flex;
  flex-direction: column;
}
.creation .name-section {
  font-size: 60px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 10px;
}
.creation .gastro {
  display: flex;
  background: black;
}
.creation .gastro .photo-set {
  width: 700px;
  height: 500px;
}
.creation .gastro .about-gastroset {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.creation .gastro .about-gastroset .name-gastrofest {
  font-size: 30px;
  color: #ffffff;
}
.creation .gastro .about-gastroset .about-set {
  margin: 20px;
  font-size: 26px;
  color: #ffffff;
}
.out-reviews {
  display: flex;
  flex-direction: column;
}
.out-reviews .name-section {
  font-size: 60px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 1px solid black;
}
.out-reviews .wrapper-reviews {
  display: flex;
  background: #ffffff;
}
.out-reviews .wrapper-reviews .form-reciews {
  display: flex;
  width: 500px;
  flex-direction: column;
  border-right: 1px solid #000000;
  padding: 10px 30px;
  margin: 20px 0;
}
.out-reviews .wrapper-reviews .form-reciews .wrapper-name-and-input {
  display: flex;
  flex-direction: column;
}
.out-reviews .wrapper-reviews .form-reciews .wrapper-name-and-input .user-name {
  font-size: 24px;
  margin: 0;
  color: #000000;
}
.out-reviews .wrapper-reviews .form-reciews .wrapper-name-and-input .input-name {
  font-size: 16px;
  padding-left: 5px;
  margin-bottom: 10px;
  font-family: "Poiret One";
  border-radius: 8px 0 0 0;
  border: 1px solid #000000;
  outline: 0;
  width: 300px;
}
.out-reviews .wrapper-reviews .form-reciews .wrapper-reviews {
  display: flex;
  flex-direction: column;
}
.out-reviews .wrapper-reviews .form-reciews .wrapper-reviews .user-name {
  font-size: 24px;
  margin: 0;
  color: #000000;
}
.out-reviews .wrapper-reviews .form-reciews .wrapper-reviews .user-review {
  font-size: 20px;
  font-family: "Poiret One";
  resize: none;
  height: 70px;
  border: 1px solid #000000;
  border-radius: 8px 0 0 0;
  padding: 4px;
  margin-bottom: 10px;
  outline: 0;
  width: 350px;
}
.contacts {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}
.contacts .name-section {
  font-size: 60px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  border-top: 1px solid black;
}
.contacts .wrapper-contacts-informations {
  display: flex;
  background: black;
  flex-direction: column;
  text-align: center;
  color: white;
  padding-top: 10px;
  font-size: 30px;
}
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .gastro {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .gastro .name-gastrofest {
    text-align: center;
  }
}
